.btn-primary {
  background-color: var(--color-primary) !important;
  color: white !important;
}

.btn-accent {
  background-color: var(--color-primary-accent) !important;
  color: white !important;
}

.btn-danger {
  background-color: var(--color-error) !important;
  color: white !important;
}

.btn-success {
  background-color: var(--color-success) !important;
  color: white !important;
}

.btn-info {
  background-color: var(--color-info) !important;
  color: white !important;
}

.btn-warning {
  background-color: var(--color-warning) !important;
  color: white !important;
}
