.select-input {
    border-color: var(--color-border) !important;
    color: var(--color-text);
    background-color:white;
}

.select-input:focus {
    border-color: var(--color-primary-accent) !important;
    box-shadow: 0 0 0 0.125em rgb(77, 163, 255, 0.25);
}